.carousel {
    margin: 100px auto;
    width: 90%;
    border: 2px solid red;
    display: flex;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}