.carousel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.groupcard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 25s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 4em;
    height: 4em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}