.carousel {
    margin: 100px auto;
    width: 70%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.groupcard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 15s infinite linear;
    padding-right: 1em;
}

.card {
    flex: 0 0 3.5em;
    height: 3.5em;
    font-size: 3rem;
    text-align: center;
    align-content: center;
    overflow: hidden;
}

.card img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}